.navbar-component {
    padding: 10px 20px;
    background-color: var(--bg-color-gray);
    display: flex;
    gap: 5px;
    margin: 0 auto;
    max-width: 1145px;
    justify-content: space-between;

    >section {
        display: flex;
        gap: 5px;
        align-items: center;

        >button {
            height: max-content;
            display: flex;
            gap: 5px;
        }
    }
}

.lesson-container-component {
    background-color: white;
    max-width: 1145px;
    margin: 0 auto;
    min-height: 90vh;
    padding: 15px;
}

.lesson-options-component {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    justify-content: space-between;

    >div {
        display: flex;
        gap: 10px;
    }
}

.exercise-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 70px;
}

.exercise-card {
    background-color: var(--color-blue-opaque);
    display: flex;
    padding: 15px;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    opacity: 0.8;

    >div {
        display: flex;
        gap: 10px;
        align-items: center;
    }
}

.exercise-card:hover {
    /* scale: 1.01; */
    opacity: 1;
}

.footer {
    background-color: var(--bg-color-gray);
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.sidebar-component {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 101%;
    background-color: #FAFAFB;
}

.sidebar-appear {
    animation: appear-4-right 0.5s ease 1 forwards;
}

.sidebar-disappear {
    animation: disappear-4-right 0.4s ease 1 forwards;
}

@keyframes appear-4-right {
    0% {
        left: 101%;
    }

    100% {
        left: 0px;
    }
}

@keyframes disappear-4-right {
    0% {
        left: 0px;
    }

    100% {
        left: 101%;
    }
}